.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  .left-shipping {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .links ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
  }
  .links ul li a {
    text-decoration: none;
    color: #999;
    font-size: 1.3rem;
  }
  .links ul li a.active {
    color: black;
  }
  .pay{
    width: 100%;
  }
  .pay .choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid #666;
    padding: 10px;
  }
  .pay .choose .input{
    display: flex;
    gap: 2rem;
  }
  .pay .choose .input .number{
    font-size: 1rem;
    font-weight: 600;
  }
  .pay .choose .remove{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .pay .choose .remove button{
    outline: none;
    border: none;
    background: transparent;
    color: rgb(192, 44, 44);
  }
  .pay .choose .input.edit{
    border-top: none;
  }
  
  .right-shipping {
    padding: 0.5rem;
    border: 1px solid #666;
    height: 80vh;
  }
  .order h2 {
    font-size: 1.4rem;
  }
  .detils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  .detils .right-detils,
  .total .right {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .order hr {
    width: 80%;
    margin: auto;
    border: 1px solid;
  }
  
  .bottom-order .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  .bottom-order .input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .bottom-order .input input {
    padding: 10px;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    border: 1px solid #999;
  }
  .bottom-order .input .btn {
    background: var(--mainColor);
    color: #fff;
    padding: 10px;
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1000px) {
    .content {
      grid-template-columns: 1fr;
      gap: 2rem;
      grid-template-rows: 1fr 3fr;
      margin-top: 2rem;
    }
    .left-shipping .main-content .radio .r-left .choose {
      font-size: 14px;
    }
    .right-shipping {
      padding: 0.5rem;
      border: 1px solid #666;
      height: 50vh;
    }
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
      .content {
        grid-template-columns: 1fr;
        gap: 1rem;
        grid-template-rows: 1fr 5fr;
        margin-top: 0.5rem;
      }
      .left-shipping {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      /* .left-shipping .links{
          border: 2px solid red;
      }
    
  
  
      .left-shipping .main-content {
          grid-template-rows: repeat(3 , 1fr) ;
          gap: .5rem;
      
          border: 1px solid #666;
          width: 100%;
          margin-top: 1rem;
        }
        
        .left-shipping .main-content .radio {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: .2rem;
          border-bottom: 0.2px solid;
        }
        .left-shipping .main-content .radio .r-left {
          gap: .4rem;
        }
        .left-shipping .main-content .radio .r-left label, span{
          font-size: 8px;
        }
      .left-shipping .main-content .radio .r-left .choose {
        font-size:8px;
      }
      .left-shipping .main-content .radio .r-right #select {
          width: 75px;
          font-size: 8px;
          padding: 0;
      } */
      .right-shipping {
        padding: 0.3rem;
        height: 70vh;
      }
    }